---
interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<div class=`toggleLang ${lang}`>
  <button>EN</button>
  <button>日本語</button>
</div>

<style lang="scss">
  .toggleLang {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    font-family: var(--font-en2);
    button {
      padding: 5px 0;
      width: 90px;
      font-size: 14px;
      border: 1px solid #fff;
      color: #fff;
      background-color: var(--color-sub);
      cursor: pointer;
      &:nth-child(1) {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: none;
      }
      &:nth-child(2) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    &.en {
      button:nth-child(1) {
        background-color: var(--color-main);
        font-weight: bold;
      }
    }
    &.ja {
      button:nth-child(2) {
        background-color: var(--color-main);
        font-weight: bold;
      }
    }
  }
</style>

<script>
  // ボタンをクリックしたら日英に遷移する
  const enBtn = document.querySelector(".toggleLang button:nth-child(1)");
  const jaBtn = document.querySelector(".toggleLang button:nth-child(2)");
  enBtn?.addEventListener("click", () => {
    if (location.pathname.includes("ja/"))
      location.href = location.pathname.replace("ja/", "");
  });
  jaBtn?.addEventListener("click", () => {
    if (!location.pathname.includes("ja/"))
      location.href = location.pathname.replace(
        import.meta.env.BASE_URL,
        `${import.meta.env.BASE_URL}ja/`
      );
  });
</script>
