---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="about page">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
	</main>
</Layout>

<style>
  h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
</style>
