---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import TextList from '../../components/TextList.astro';
---

<Layout pageTitle="Program">
  <Section title="Speakers">
    <Section title="Tutorial lectures" h3>
      <TextList
        list={[
          "Randall Kamien (UPENN) - Materials Geometry",
          "Stephen Hyde (Sydney & ANU) - Triply Periodic Minimal Surfaces",
        ]}
      />
    </Section>
    <Section title="Discussion Leader" h3>
      <TextList
        list={["Gerd Schröder‐Turk (Murdoch) - Gyroids Everywhere"]}
      />
    </Section>
    <Section title="Plenary lectures" h3>
      <TextList
        list={[
          "Myfanwy Evans (Potsdam) - Topology & Geometry",
          "Gregory Grason (UMASS) - Gyroid Physics",
          "Ulrich Wiesner (Cornell) - Gyroid Materials",
          "Matthias Saba (Fribourg) - Gyroid Photonics",
        ]}
      />
    </Section>
    <Section title="Invited speakers" h3>
      <TextList
        list={[
          "Koya Shimokawa (Ochanomizu) - Topology",
          "Jacob Kirkensgaard (Copenhagen) - Hyperbolic Geometry",
		  "Xiangbing Zeng (Sheffield) - Liquid Crystals",
          "Takahiro Ichikawa (TUAT) - Proton Conduction",
          "Kunio Awaga (Nagoya) - Gyroid Molecules",
          "Philipp Schönhöfer (Michigan) - Gyroid Simulation",
          "Justin Llandro (Sumitomo Chemical) - Gyroid Magnetics",
          "Łucja Kowlewska (Warsaw) - Cell Membranes",
          "Vinodkumar Saranathan (Krea) - Gyroid Evolution",
        ]}
      />
    </Section>
  </Section>
</Layout>
