---
import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section.astro";
import Button from "../../../components/parts/Button.astro";
import TimeTable from "../../../components/parts/TimeTable.astro";
---

<Layout pageTitle="Program">
  <Section title="Timetable & Abstracts">
    <div id="js-hiddenArea">
      <div class="programBtnWrap">
        <Button
          href={import.meta.env.BASE_URL + "Linked-poster.pdf"}
          text="Poster PDF"
        />
        <Button
          href={import.meta.env.BASE_URL + "abstract-book.pdf"}
          text="AbstractBook PDF"
        />
      </div>
      <TimeTable />
    </div>
  </Section>
</Layout>

<style lang="scss">
  .programBtnWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }
  #js-hiddenArea {
    display: none;
    &.is-show {
      display: block;
    }
  }
</style>

<script>
  const password = "AlanSchoen1924";
  if (sessionStorage.getItem("isShow") !== "true") {
    const input = prompt("Please enter the password.");
    if (input === password) {
      document.querySelector("#js-hiddenArea")?.classList.add("is-show");
      sessionStorage.setItem("isShow", "true");
    }
  } else {
    document.querySelector("#js-hiddenArea")?.classList.add("is-show");
  }
</script>
