---
import Layout from "../../layouts/Layout.astro";

import image01 from "../../images/venue/img01.jpg";
import imageHall from "../../images/venue/hall.jpg";
import image02 from "../../images/venue/img02.jpg";
import image03 from "../../images/venue/img03.jpg";
import imageMap from "../../images/venue/map01.jpg";
import imageBus from "../../images/venue/Shuttlebus0.jpg";
import imageReport from "../../images/venue/report01.jpg";
import imageSumiyoshi from "../../images/venue/sumiyashiTaisha.jpg";
import imageNoh from "../../images/venue/yamamotoNohTheater.jpg";
import imageCastle from "../../images/venue/osakaCastle.jpg";
import imageGeihinkan from "../../images/venue/osakaGeihinkan.jpg";

import SimpleCard from "../../components/parts/SimpleCard.astro";

const links = [
  {
    name: "Campus Location",
    link: "https://www.kindai.ac.jp/english/visit/",
  },
  {
    name: "Route",
    link: "https://www.kindai.ac.jp/english/files/visit/visit.pdf",
  },
  {
    name: "Updated Route (JP)",
    link: "https://www.kindai.ac.jp/access/",
  },
  {
    name: "Kindai University",
    link: "https://www.kindai.ac.jp/english/",
  },
  {
    name: "Local spot: teamLab⭐︎ Field of Wind, Rain and Sun",
    link: "https://www.teamlab.art/e/field/",
  },
  {
    name: "Local spot: 司馬遼太郎記念館, Shiba Ryotaro Memorial Museum",
    link: "https://www.shibazaidan.or.jp",
  },
  {
    name: "Tennoji",
    link: "https://www.japan.travel/en/destinations/kansai/osaka/tennoji/",
  },
  {
    name: "Local spot: 四天王寺, Shitennoji temple",
    link: "https://www.shitennoji.or.jp",
  },
  {
    name: "Osaka",
    link: "https://www.japan.travel/en/destinations/kansai/osaka/",
  },
];
---

<Layout pageTitle="Venue & Excursion">
  <div class="container">
    <div class="sectionWrapper">
      <section>
        <h2>Lecture Hall (+Posters)</h2>
        <div class="description">November Hall</div>
        <div class="cardWrapper">
          <SimpleCard
            image={{ src: image01.src, alt: "November Hallのイメージ画像1" }}
          />
          <SimpleCard
            image={{ src: imageHall.src, alt: "November Hallのイメージ画像2" }}
          />
        </div>
      </section>
      <section>
        <h2>Lunch and Welcome Reception</h2>
        <div class="description">BLOSSOM CAFÉ 3F</div>
        <div class="cardWrapper">
          <SimpleCard
            image={{ src: image02.src, alt: "BLOSSOM CAFÉ 3Fのイメージ画像" }}
          />
        </div>
      </section>
      <section>
        <h2>Cafes and Restaurant</h2>
        <div class="cardWrapper">
          <SimpleCard
            title="Academic theater 1F (ALL DAY COFFEE), 2F (CNN Café)"
            image={{
              src: image03.src,
              alt: "Academic theater 1F, 2F, 3Fのイメージ画像",
            }}
          />
          <SimpleCard
            title="Restaurant and Bakery Cafe"
            image={{
              src: imageReport.src,
              alt: "Restaurant and Bakery Cafeのイメージ画像",
            }}
          />
        </div>
      </section>
      <section>
        <h2>Campus Map</h2>
        <div class="cardWrapper">
          <SimpleCard
            image={{ src: imageMap.src, alt: "Campus Mapのイメージ画像" }}
            overflow
          />
          <iframe
            src="https://www.google.com/maps/d/u/0/embed?mid=1g3amiFwM4kXZ4fBEfSnuw1xVnmzrf3g&ehbc=2E312F"
          ></iframe>
        </div>
      </section>
      <section>
        <h2>Shuttle Bus (Tennoji-Kindai, Kindai-Tennoji)</h2>
        <div class="description">
          <p>Nov. 19 (Tue.): Morning 8:40-9:20, Return 19:15-19:55</p>
          <p>Nov. 20 (Wed.): Morning 8:00-8:40, Return 17:30-18:10</p>
          <p>Nov. 21 (Thu.): Morning 8:00-8:40, Excursion</p>
          <p>Nov. 22 (Fri.): Morning 8:00-8:40, Return 14:30-15:10</p>
        </div>
        <div class="cardWrapper">
          <SimpleCard
            image={{ src: imageBus.src, alt: "Shuttle Busのイメージ画像" }}
            overflow
          />
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1OY0STwglaz4d3xRgcHPoTePQIwfUKTI&ehbc=2E312F"
          >
          </iframe>
        </div>
      </section>
      <section>
        <h2>Excursion</h2>
        <div class="cardWrapper">
          <SimpleCard
            title="Sumiyoshi Taisha"
            url="https://www.sumiyoshitaisha.net/en/"
            image={{
              src: imageSumiyoshi.src,
              alt: "Sumiyoshi Taishaのイメージ画像",
            }}
          />
          <SimpleCard
            title="Yamamoto Noh Theater"
            url="https://www.noh-theater.com/english.html"
            image={{
              src: imageNoh.src,
              alt: "Yamamoto Noh Theaterのイメージ画像",
            }}
          />
          <SimpleCard
            title="Osaka Castle"
            url="https://www.osakacastle.net/pdf/leaflet/english_202305.pdf"
            image={{
              src: imageCastle.src,
              alt: "Osaka Castleのイメージ画像",
            }}
          />
          <SimpleCard
            title="Osaka Geihinkan"
            url="https://www.osakacastle.jp/party/en"
            image={{
              src: imageGeihinkan.src,
              alt: "Osaka Geihinkanのイメージ画像",
            }}
          />
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1Y9sbEAwx0kEMSH49i1ZzEuuMw-IVRMs&ehbc=2E312F"
            width="640"
            height="400"></iframe>
        </div>
      </section>
    </div>
    <ul class="links">
      {
        links.map((link) => {
          return (
            <li>
              <div class="title">{link.name}</div>
              <a href={link.link} target="_blank" rel="noopener noreferrer">
                Visit Link
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>

<style lang="scss">
  @import "../../styles/mq.scss";

  .sectionWrapper {
    padding: 32px 0;
    @include mq() {
      padding: 56px 0;
    }
  }
  section {
    + section {
      margin-top: 20px;
      @include mq() {
        margin-top: 40px;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      @include mq() {
        font-size: 24px;
      }
    }
    .description {
      font-size: 16px;
      p {
        margin-top: 0.5em;
      }
      @include mq() {
        font-size: 18px;
      }
    }
    .cardWrapper {
      display: grid;
      gap: 16px;
      @include mq() {
        gap: 32px;
        grid-template-columns: repeat(2, 50%);
      }
      iframe {
        width: 100%;
        max-width: 640px;
        aspect-ratio: 640 / 480;
      }
    }
  }
  .links {
    li + li {
      margin-top: 24px;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      @include mq() {
        font-size: 24px;
      }
    }
    a {
      margin-top: 8px;
      border: 1px solid var(--color-border);
      border-radius: 16px;
      padding: 0 40px;
      height: 50px;
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      transition: 0.3s;
      &:hover {
        background-color: #222;
        color: #fff;
      }
    }
    padding-bottom: 56px;
  }
</style>
