---
import Home from "../components/template/Home.astro";
---

<Home
  lang="en"
  data={{
    title: "Gyroid is everywhere",
    subTitle: "Alan Schoen<br />100th birth anniversary",
    dl: [
      {
        dt: "Date",
        dd: "November 19-22, 2024",
      },
      {
        dt: "Venue",
        dd: "Kindai University",
      },
      {
        dt: "Organizers",
        dd: "<ul><li>Alan Schoen 100th Birth Anniversary Organizing Committee</li></ul>",
      },
    ],
  }}
/>
