---
import imageGyroid from "../images/home/gyroid.png";
---

<footer class="footer">
  <div class="footer_inner">
    <div class="container">
      <div class="copyright">© 2024 Tomonari Dotera</div>
      <div class="logo">
        <img src={imageGyroid.src} alt="" />
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../styles/mq.scss";

  .footer {
    margin-top: auto;

    &_inner {
      margin-top: 24px;
      background-color: #222;
      text-align: center;
      font-family: var(--font-heading);
      padding: 20px 0;
      @include mq() {
        margin-top: 40px;
        padding: 30px 0;
      }
    }
  }

  .copyright {
    font-size: 16px;
    color: #fff;
  }

  .logo {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
  }
</style>

<script>
  // homeでは非表示 ※日本語版(ja/)も含める
  const homePath = import.meta.env.BASE_URL;
  if (
    location.pathname === homePath ||
    location.pathname === homePath + "ja/"
  ) {
    document.querySelector(".footer")?.classList.add("hidden");
  }
</script>
