---
interface Props {
	list: string[];
	strong?: boolean;
}

const { list,strong } = Astro.props;
---

<ul
	class={`list ${strong ? 'strong' : ''}`}
>
	{list.map((item) => {
		return <li>{item}</li>;
	})}
</ul>

<style lang="scss">
	@import "../styles/mq.scss";

	.list {
		list-style: disc;
		padding-left: 20px;
		li + li {
			margin-top: 8px;
		}
		&.-strong {
			padding-left: 0;
			list-style: none;
			font-weight: 500;
			font-family: "Roboto", sans-serif;
		}
	}
</style>

