---
interface Props {
  text: string;
  href: string;
  isBlank?: boolean;
}

const { text, href, isBlank = true } = Astro.props;
---

<div class="hoverBg">
  <a
    class="button"
    href={href}
    target={isBlank ? "_blank" : ""}
    rel={isBlank ? "noopener noreferrer" : ""}>{text}</a
  >
</div>

<style lang="scss">
  @import "../../styles/mq.scss";

  .hoverBg {
    height: 40px;
    display: flex;
    align-items: center;
    @include mq() {
      height: 50px;
    }
  }

  .button {
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: border 0.1s ease-in-out;
    border-bottom: 4px solid #fbb7b7;
    color: #ec5151;
    background-color: #ffe5e5;
    font-family: var(--font-en2);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    @include mq() {
      font-size: 18px;
      padding: 0 30px;
    }
    &:hover {
      border-bottom-width: 0;
    }
  }
</style>
