---
import Table from "./Table.astro";
---

<div class="program day1">
  <h3 class="h3">11/19</h3>
  <Table
    thead={["Time", "Contents", "Speakers"]}
    tbody={[
      {
        item1: "9:00 ~ 9:50",
        item2: "Registration",
        item3: "",
      },
      {
        item1: "9:50 ~ 10:00",
        item2: "Welcome remark",
        item3: "Dotera",
      },
      {
        item1: "10:00 ~ 10:10",
        item2: "Openning address",
        item3: "Kindai president&Toyota VIP",
      },
      {
        item1: "10:10 ~ 11:00",
        item2: "Tutorial 1",
        item3: "Randall Kamien",
      },
      {
        item1: "11:00 ~ 11:10",
        item2: "Break",
        item3: "",
      },
      {
        item1: "11:10 ~ 12:00",
        item2: "Tutorial 2",
        item3: "Stephen Hyde",
      },
      {
        item1: "12:00 ~ 13:30",
        item2: "Lunch",
        item3: "",
      },
      {
        item1: "13:30 ~ 14:10",
        item2: "Plenary",
        item3: "Myfanwy Evans",
      },
      {
        item1: "14:10 ~ 14:40",
        item2: "Invite",
        item3: "Jacob Kirkensgaard",
      },
      {
        item1: "14:40 ~ 15:10",
        item2: "Invite",
        item3: "Koya Shimokawa",
      },
      {
        item1: "15:10 ~ 15:30",
        item2: "Coffee Break",
        item3: "",
      },
      {
        item1: "15:30 ~ 15:50",
        item2: "Oral 1",
        item3: "",
      },
      {
        item1: "15:50 ~ 16:10",
        item2: "Oral 2",
        item3: "",
      },
      {
        item1: "16:10 ~ 16:30",
        item2: "Oral 3",
        item3: "",
      },
      {
        item1: "16:30 ~ 16:50",
        item2: "Oral 4",
        item3: "",
      },
      {
        item1: "16:50 ~ 17:10",
        item2: "Oral 5",
        item3: "",
      },
      {
        item1: "17:10 ~ 17:30",
        item2: "Oral 6",
        item3: "",
      },
      {
        item1: "17:50 ~ 18:50",
        item2: "Welcome Tuna Party",
        item3: "",
      },
    ]}
  />
</div>

<div class="program day2">
  <h3 class="h3">11/20</h3>
  <Table
    thead={["Time", "Contents", "Speakers"]}
    tbody={[
      {
        item1: "9:00 ~ 9:40",
        item2: "Plenary",
        item3: "Ulrich Wiesner",
      },
      {
        item1: "9:40 ~ 10:10",
        item2: "Invite",
        item3: "Rong-Ming Ho",
      },
      {
        item1: "10:10 ~ 10:40",
        item2: "Invite",
        item3: "An-Chang Shi",
      },
      {
        item1: "10:40 ~ 11:00",
        item2: "Coffee Break",
        item3: "",
      },
      {
        item1: "11:00 ~ 11:20",
        item2: "Oral 7",
        item3: "",
      },
      {
        item1: "11:20 ~ 11:40",
        item2: "Oral 8",
        item3: "",
      },
      {
        item1: "11:40 ~ 12:00",
        item2: "Oral 9",
        item3: "",
      },
      {
        item1: "12:00 ~ 13:30",
        item2: "Lunch",
        item3: "",
      },
      {
        item1: "13:30 ~ 14:00",
        item2: "Invite",
        item3: "Xiangbing Zeng",
      },
      {
        item1: "14:00 ~ 14:30",
        item2: "Invite",
        item3: "Takahiro Ichikawa",
      },
      {
        item1: "14:30 ~ 14:50",
        item2: "Oral 10",
        item3: "",
      },
      {
        item1: "14:50 ~ 15:10",
        item2: "Oral 11",
        item3: "",
      },
      {
        item1: "15:10 ~ 15:30",
        item2: "Coffee Break",
        item3: "",
      },
      {
        item1: "15:30 ~ 17:30",
        item2: "Poster session",
        item3: "",
      },
    ]}
  />
</div>

<div class="program day3">
  <h3 class="h3">11/21</h3>
  <Table
    thead={["Time", "Contents", "Speakers"]}
    tbody={[
      {
        item1: "9:00 ~ 9:40",
        item2: "Plenary",
        item3: "Gregory Grason",
      },
      {
        item1: "9:40 ~ 10:10",
        item2: "Invite",
        item3: "Philipp Schönhöfera",
      },
      {
        item1: "10:10 ~ 10:40",
        item2: "Invite",
        item3: "Justin Llandro",
      },
      {
        item1: "10:40 ~ 11:00",
        item2: "Coffee Break",
        item3: "",
      },
      {
        item1: "11:00 ~ 11:20",
        item2: "Oral 12",
        item3: "",
      },
      {
        item1: "11:20 ~ 11:40",
        item2: "Oral 13",
        item3: "",
      },
      {
        item1: "11:40 ~ 12:00",
        item2: "Oral 14",
        item3: "",
      },
      {
        item1: "12:30 ~ 18:30",
        item2:
          "Excursion<br />(Sumiyoshi Taisha Shrine,<br />Yamamoto Noh Theater,<br />Osaka Castle)",
        item3: "",
      },
    ]}
  />
</div>

<div class="program day4">
  <h3 class="h3">11/22</h3>
  <Table
    thead={["Time", "Contents", "Speakers"]}
    tbody={[
      {
        item1: "9:00 ~ 9:40",
        item2: "Plenary",
        item3: "Matthias Saba",
      },
      {
        item1: "9:40 ~ 10:10",
        item2: "Invite",
        item3: "Vinodkumar Saranathan",
      },
      {
        item1: "10:10 ~ 10:40",
        item2: "Invite",
        item3: "Łucja Kowlewska",
      },
      {
        item1: "10:40 ~ 11:00",
        item2: "Coffee Break",
        item3: "",
      },
      {
        item1: "11:00 ~ 11:20",
        item2: "Oral 15",
        item3: "",
      },
      {
        item1: "11:20 ~ 11:40",
        item2: "Oral 16",
        item3: "",
      },
      {
        item1: "11:40 ~ 12:00",
        item2: "Oral 17",
        item3: "",
      },
      {
        item1: "12:00 ~ 13:30",
        item2: "Lunch",
        item3: "",
      },
      {
        item1: "13:30 ~ 14:00",
        item2: "Invite",
        item3: "Kunio Awaga",
      },
      {
        item1: "14:00 ~ 14:40",
        item2: "Discussion",
        item3: "Gerd Schröder‐Turk",
      },
      {
        item1: "14:40 ~ 15:00",
        item2: "Closing Remarks",
        item3: "",
      },
    ]}
  />
</div>

<style lang="scss">
  @import "../../styles/mq.scss";

  .timeTable {
    background-color: var(--color-sub);
    padding: 32px;
    .flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(9, minmax(0, 1fr));
      gap: 16px;
      grid-auto-flow: row;
    }
    .cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 96px;
      border-radius: 8px;
      background-color: #fff;
      &.-span2 {
        grid-column: span 2;
      }
    }
  }
</style>
