---
import Table from "./Table.astro";
---

<div class="tab-wrap">
  <!-- day1 -->
  <input id="day1" class="tab-switch" type="radio" name="tab" checked />
  <label class="tab-label" for="day1">11/19</label>
  <div class="tab-content">
    <Table
      wide
      timeTable
      thead={["Time", "Contents", "Speakers", "abstract"]}
      tbody={[
        ["9:00 ~ 9:50", "Registration", "", ""],
        ["9:50 ~ 10:00", "Welcome remark", "Tomonari Dotera", ""],
        [
          "10:00 ~ 10:10",
          "Openning address",
          "Itaru Matsumura<br />President of Kindai University",
          "",
        ],
        [
          "Chair",
          "Tomonari Dotera",
          "",
          "",
        ],
        [
          "10:10 ~ 11:05",
          "Tutorial lecture 1<br />(Open lecture<br />w/o registration)",
          "Randall Kamien<br />(University of Pennsylvania)",
          "Materials Geometry<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Randall_Kamien.pdf'>Abstract</a>",
        ],
        [
          "11:05 ~ 12:00",
          "Tutorial lecture 2<br />(Open lecture<br />w/o registration)",
          "Stephen Hyde<br />(Sydney University &<br />Australian National University)",
          "Triply periodic minimal surfaces<br /> revisited: surface complexes<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Stephen_Hyde.pdf'>Abstract</a>",
        ],
        ["12:00 ~ 13:30", "Lunch<br />(BLOSSOM CAFÉ 3F)", "", ""],
        [
          "Chair",
          "Gerd Schröder‐Turk",
          "",
          "",
        ],
        [
          "13:30 ~ 14:10",
          "Plenary",
          "Myfanwy Evans<br />(University of Potsdam)",
          "Gyroid as an organiser <br />of entanglement<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Myfanwy_Evans.pdf'>Abstract</a>",
        ],
        [
          "14:10 ~ 14:40",
          "Invite",
          "Jacob Kirkensgaard<br />(University of Copenhagen)",
          "Exploring pattern formation<br />on negatively curved surfaces<br />via the hyperbolic plane<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Jacob_Kirkensgaard.pdf'>Abstract</a>",
        ],
        [
          "14:40 ~ 15:10",
          "Invite",
          "Koya Shimokawa<br />(Ochanomizu University)",
          "Polycontinuous pattern and<br />3-dimensional topology<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Koya_Shimokawa.pdf'>Abstract</a>",
        ],
        ["15:10 ~ 15:40", "Coffee Break", "", ""],
        [
          "Chair",
          "Randall Kamien",
          "",
          "",
        ],
        [
          "15:40 ~ 16:00",
          "Contributed 1",
          "Hao Chen<br />(ShanghaiTech University)",
          "Recent mathematical progress on<br />Triply Periodic Minimal Surfaces,<br />and how physics inspired them<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Hao_Chen.pdf'>Abstract</a>",
        ],
        [
          "16:00 ~ 16:20",
          "Contributed 2",
          "Chern Chuang<br />(University of Nevada, Las Vegas)",
          "Square lattice representations of<br />P, D, and G surfaces and their<br />mixtures and generalizations<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Chern_Chuang.pdf'>Abstract</a>",
        ],
        [
          "16:20 ~ 16:40",
          "Contributed 3",
          "Kanata Warisaya<br />(The University of Tokyo)",
          "Reconfigurable Periodic Surfaces<br />Assembled from Strip Modules<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Kanata_Warisaya.pdf'>Abstract</a>",
        ],
        ["16:40 ~ 16:50", "Break", "", ""],
        [
          "Chair",
          "Stephen Hyde",
          "",
          "",
        ],
        [
          "16:50 ~ 17:10",
          "Contributed 4",
          "Toshihiko Oka<br />(Shizuoka University)",
          "Investigating electron density<br />of gyroid structures by X<br />- ray diffraction<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Toshihiko_Oka.pdf'>Abstract</a>",
        ],
        [
          "17:10 ~ 17:30",
          "Contributed 5",
          "Goran Ungar<br />(Xi'an Jiaotong University)",
          "Skeletal bicontinuous mesophases<br />of bundled axial rod-like molecules<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Goran Ungar.pdf'>Abstract</a>",
        ],
        [
          "17:30 ~ 17:50",
          "Contributed 6",
          "Osamu Terasaki<br />(ShanghaiTech University)",
          "Where and how we have met<br />and learnt from G-surface<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Osam_Terasaki.pdf'>Abstract</a>",
        ],
        [
          "18:00 ~ 19:00",
          "Welcome Reception<br />(BLOSSOM CAFÉ 3F)",
          "Reiko Schoen &<br />Yushu Matsushita",
          "Greeting & Toast",
        ],
      ]}
    />
  </div>

  <!-- day2 -->
  <input id="day2" class="tab-switch" type="radio" name="tab" />
  <label class="tab-label" for="day2">11/20</label>
  <div class="tab-content">
    <Table
      timeTable
      wide
      thead={["Time", "Contents", "Speakers", "abstract"]}
      tbody={[
        [
          "Chair",
          "Yushu Matsushita",
          "",
          "",
        ],
        [
          "9:00 ~ 9:40",
          "Plenary",
          "Ulrich Wiesner<br />(Cornell University)",
          "Co-Continuous Gyroidal Hybrid<br />Nanomaterials from Block Copolymer<br />Self-Assembly<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Uli Wiesner.pdf'>Abstract</a>",
        ],
        [
          "9:40 ~ 10:10",
          "Invite",
          "Rong-Ming Ho<br />(National Tsing Hua University)",
          "Network Phases from Self-Assembly<br />of High Interaction Parameter<br />Block Copolymers and Chiral Block<br />Copolymers<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/RM Ho abstract.pdf'>Abstract</a>",
        ],
        [
          "10:10 ~ 10:40",
          "Invite",
          "An-Chang Shi<br />(McMaster University)",
          "Stabilizing network phases of block<br />copolymers<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/An-Chang_Shi.pdf'>Abstract</a>",
        ],
        ["10:40 ~ 11:10", "Coffee Break", "", ""],
        [
          "Chair",
          "Osamu Terasaki",
          "",
          "",
        ],
        [
          "11:10 ~ 11:30",
          "Contributed 7",
          "Lu Han<br />(Tongji University)",
          "Formation of Triply Periodic<br />Hyperbolic Surface Structures via<br />Block Copolymer Self-Assembly<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Lu Han.pdf'>Abstract</a>",
        ],
        [
          "11:30 ~ 11:50",
          "Contributed 8",
          "Weihua Li<br />(Fudan University)",
          "Stabilize different continuous<br />network phases by rationally<br />designing block copolymers<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/abstract_WHLI_Fudan.pdf'>Abstract</a>",
        ],
        [
          "11:50 ~ 12:10",
          "Contributed 9",
          "Atsushi Takano<br />(Nagoya University)",
          "Novel Tricontinuous Microphase<br />-Separated Structures formed from<br />ABC Triblock Terpolymer Blends<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Atsushi_Takano.pdf'>Abstract</a>",
        ],
        ["12:10 ~ 13:30", "Lunch<br />(BLOSSOM CAFÉ 3F)", "", ""],
        [
          "Chair",
          "Goran Ungar",
          "",
          "",
        ],
        [
          "13:30 ~ 14:00",
          "Invite",
          "Xiangbing Zeng<br />(University of Sheffield)",
          "How Do You Make a Gyroid Chiral?<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Xiangbing Zeng.pdf'>Abstract</a>",
        ],
        [
          "14:00 ~ 14:30",
          "Invite",
          "Takahiro Ichikawa<br />(Tokyo University of Agriculture<br />and Technology)",
          "Gyroid Minimal Surface as Proton<br />Conduction Pathway<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Takahiro_Ichikawa.pdf'>Abstract</a>",
        ],
        [
          "14:30 ~ 14:50",
          "Contributed 10",
          "Shoichi Kutsumizu<br />(Gifu University)",
          "Control of Ia3d Gyroid phase<br />formation in aryloyl-hydrazine-based<br />molecules by using two chemical<br />modifications, introducing the side<br />group and slight non-symmetry into<br />the core moiety<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Shoichi_Kutsumizu.pdf'>Abstract</a>",
        ],
        ["14:50 ~ 15:20", "Coffee Break", "", ""],
        [
          "15:20 ~ 17:20",
          "Poster session",
          "You can display<br />your poster<br />from November 19 to 22.",
          "<a href='/gyroidiseverywhere/Linked-poster.pdf'>Posters</a>",
        ],
      ]}
    />
  </div>

  <!-- day3 -->
  <input id="day3" class="tab-switch" type="radio" name="tab" />
  <label class="tab-label" for="day3">11/21</label>
  <div class="tab-content">
    <Table
      timeTable
      wide
      thead={["Time", "Contents", "Speakers", "abstract"]}
      tbody={[
        [
          "Chair",
          "Jacob Kirkensgaard",
          "",
          "",
        ],
        [
          "9:00 ~ 9:40",
          "Plenary",
          "Gregory Grason<br />(University of Massachusetts Amherst)",
          "Fitting into and shifting symmetries of<br />block copolymer cubic networks<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Greg_Grason.pdf'>Abstract</a>",
        ],
        [
          "9:40 ~ 10:10",
          "Invite",
          "Philipp Schönhöfer<br />(University of Michigan)",
          "“Challenging” Steiner’s formula:<br />Pathways to stabilize the gyroid in<br />colloidal self-assembly<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Philipp_Schoenhoefer.pdf'>Abstract</a>",
        ],
        [
          "10:10 ~ 10:40",
          "Invite",
          "Justin Llandro<br />(Sumitomo Chemical Co., Ltd.)",
          "Magnetism and topology in<br />self-assembled 3D gyroid<br />nanostructures<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Justin_Llandro.pdf'>Abstract</a>",
        ],
        ["10:40 ~ 11:10", "Coffee Break", "", ""],
        [
          "Chair",
          "Kunio Awaga",
          "",
          "",
        ],
        [
          "11:10 ~ 11:30",
          "Contributed 11",
          "Jun-ichi Fukuda<br />(Kyushu University)",
          "Structural transformation of<br />cholesteric blue phases revealed by<br />continuum simulation and machine<br />-learning-aided structural analysis<br />group and slight non-symmetry into<br />the core moiety<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Jun-ichi_Fukuda.pdf'>Abstract</a>",
        ],
        [
          "11:30 ~ 11:50",
          "Contributed 12",
          "Masahisa Tsuchiizu<br />(Nara Women's University)",
          "Topological electronic states in<br />microscopic gyroids<br />group and slight non-symmetry into<br />the core moiety<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Masahisa_Tsuchiizu.pdf'>Abstract</a>",
        ],
        [
          "11:50 ~ 12:10",
          "Contributed 13",
          "Rie Suizu<br />(Nagoya University)",
          "Coexistence of Collinear and<br />Non-collinear Spin Texture in<br />Antiferromagnetic Gyroidal MOFs<br />group and slight non-symmetry into<br />the core moiety<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Rie_Suizu.pdf'>Abstract</a>",
        ],
        [
          "12:20 ~ 19:30",
          "Excursion<br /><br /><br />Dinner",
          "Two buses, each guided<br /><br /><br />Randall Kamien",
          "Sumiyoshi Taisha Shrine, <br />Yamamoto Noh Theater, <br />Osaka Castle, <br />Osaka Geihinkan",
        ],
      ]}
    />
  </div>

  <!-- day4 -->
  <input id="day4" class="tab-switch" type="radio" name="tab" />
  <label class="tab-label" for="day4">11/22</label>
  <div class="tab-content">
    <Table
      timeTable
      wide
      thead={["Time", "Contents", "Speakers", "abstract"]}
      tbody={[
        [
          "Chair",
          "Myfanwy Evans",
          "",
          "",
        ],
        [
          "9:00 ~ 9:40",
          "Plenary",
          "Matthias Saba<br />(University of Fribourg)",
          "Gyroid Photonics – From Chiral<br />Beamsplitters and Active Materials<br />to Topological Physics and Bound<br />States in the Continuum<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Matthias_Saba.pdf'>Abstract</a>",
        ],
        [
          "9:40 ~ 10:10",
          "Invite",
          "Vinodkumar Saranathan<br />(University of Tours)",
          "Functional Morphology of Mesoscale<br />Organismal Single Gyroids<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Vinodkumar_Saranathan.pdf'>Abstract</a>",
        ],
        [
          "10:10 ~ 10:40",
          "Invite",
          "Łucja Kowlewska<br />(University of Warsaw)",
          "Beyond the Ordinary: Diamond- and<br />Gyroid-Shaped Membranes in Plant<br />Plastids<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Lucja_Kowalewska.pdf'>Abstract</a>",
        ],
        ["10:40 ~ 11:10", "Coffee Break", "", ""],
        [
          "Chair",
          "Matthias Saba",
          "",
          "",
        ],
        [
          "11:10 ~ 11:30",
          "Contributed 14",
          "Annie Jessop<br />(Murdoch University)",
          "Reflections from a developing<br />butterfly Gyroid<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Annie Jessop.pdf'>Abstract</a>",
        ],
        [
          "11:30 ~ 11:50",
          "Contributed 15",
          "Shigeru Okamoto<br />(Nagoya Institute of Technology)",
          "A Single Grain of OBDG in a Semi<br />-dilute Solution - Photonic Crystal<br /><a href='/gyroidiseverywhere/abstract-pdf/oral/Shigeru_OKAMOTO.pdf'>Abstract</a>",
        ],
        ["11:50 ~ 12:50", "Lunch<br />(BLOSSOM CAFÉ 3F)", "", ""],
        [
          "Chair",
          "Takahiro Ichikawa",
          "",
          "",
        ],
        [
          "12:50 ~ 13:20",
          "Invite",
          "Kunio Awaga<br />(Nagoya University)",
          "Rational Synthesis of Molecular<br />Gyroids and their Structure-Derived<br />Solid-State Properties<br /><a href='/gyroidiseverywhere/abstract-pdf/invited/Kunio_Awaga.pdf'>Abstract</a>",
        ],
        [
          "13:20 ~ 14:00",
          "Discussion",
          "Gerd Schröder‐Turk<br />(Murdoch University)",
          "",
        ],
        ["14:00 ~ 14:10", "Closing Remarks", "Stephen Hyde<br />", ""],
      ]}
    />
  </div>
</div>

<style lang="scss">
  @import "../../styles/mq.scss";

  .tab-wrap {
    display: flex;
    flex-wrap: wrap;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--color-main);
      order: -1;
    }
  }

  .tab-label {
    width: 100%;
    color: #ffffff;
    background-color: #a2a3a8;
    font-family: var(--font-en2);
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    order: -1;

    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  .tab-content {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s;
  }

  .tab-switch:checked + .tab-label {
    background-color: var(--color-main);

    & + .tab-content {
      height: auto;
      opacity: 1;
      overflow: auto;
    }
  }

  .tab-switch {
    display: none;
  }
</style>
